<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="Gr8FoodConnection"
         connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\IT AND CS\Gr8Food\Gr8Food_SourceCode_Group15\G15_Gr8Food.mdf;Integrated Security=True"
         providerName="Microsoft.Data.SqlClient" />
  </connectionStrings>
</configuration>